body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .page {
    display: none;
  }
  
  .page h2 {
    color: #333;
  }
  
  /* Estilo adicional según necesidades */
  